form {
  input {
    width: 100%;
    padding: 13px;
    border-radius: .3rem;
    font-size: 1rem;
    margin: .5rem 0;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.42);
  }

  h3 {
    margin-top: 1.5rem;
  }

  button {
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #7a7af5, #00a4be);
    padding: 15px 0;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background: linear-gradient(135deg, #6b6bea, #06b8d7);
    }
  }

  .hidden {
    display: none;
  }

  .find-author {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    z-index: 2;
    .search-result {
      position: absolute;
      width: 100%;
      height: 200px;
      background: rgba(255, 0, 0, 0.42);
    }
  }
}