.track-controller {
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 0;
  padding: 10px 10px;
  background: rgba(84, 84, 84, 0.95);
  z-index: 10;

  .controls {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px;

    .volume-value {
      position: absolute;
      user-select: none;
      width: 0;
      height: 10%;
      bottom: 0;
    }

    button {
      color: white;
      font-size: 16px;
      margin: 0 10px;
      border-radius: 50%;
    }
  }

  .audio-time-controller {
    flex: 1;
    padding: 0 30px;
    input {
      width: 100%;
    }

    .times {
      display: flex;
      justify-content: space-between;

      b {
        opacity: 0.5;
      }
    }
  }

  .track-info {
    display: flex;
    align-items: center;

    img {
      border-radius: 10px;
      margin: 0 10px;
    }

    .track-description {
      h2 {
        font-size: 20px;
      }

      b {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }
}