header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20%;
  //background-color: rgb(103, 174, 255);
  background: linear-gradient(135deg, #7a7af5, #00a4be);
  user-select: none;
  z-index: 99;

  .header-left {
    cursor: pointer;
    margin-left: 30px;
  }

  .search {
    width: 30%;
    input {
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .header-right {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    width: 40%;

    span {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
